body{
    display: grid;
    grid-template-areas:  'nav'
                          'header'
                          'section1'
                          'section2'
                          'section3'
                          'footer';
    grid-template-rows: 1vh 90vh 30vh 40vh 50vh 10vh;
    grid-template-columns: 100vw;
    margin: 0;
}

.direito{
    align-items: flex-end;
    display: flex;
    margin-left: 800px;
    padding: 230 x 280;
    width: 100px;
    height: 399px;
}

header div{
    max-width: 50%;
    max-width: 50%;
}

header p{
    display: flex;
    flex-direction: column;
    background-position: cover;
    font-family: 'Roboto', sans-serif;
    grid-area: header;
    justify-content: right;
    text-align: right;

}
header span {
    color:  #2DCC70;
}

h2{
    margin-left: 21.5%;
    margin-right: 50%;
}

.video{
    /* display: block; */
    grid-area: section2;
    float: right;
    
}

nav{
    grid-area: nav;
    background: #2DCC70;
}
header{
    /* align-items: center; */
    background-image: url("../images/banner.png");
    color: white;
    display: flex;
    flex-direction: column;
    background-position: cover;
    font-family: 'Pacifico', cursive;
    grid-area: header;
    justify-content: center;
    text-align: center;
}

section .section1{
    grid-area: section1;
    background: gray;
}

.section2{
    background-color: #E3E4E4;
    grid-area: section2;
    
    
}
.getnotified{
    display: flex;
    align-content: center;
    align-items: center;
    /*justify-content: center;*/
    text-align: left;
    margin-top: 0.5%;
    margin-left: 21.6%;
    float: left;
    width: 500px;
    grid-area: section2;
}

section .section3{
    grid-area: section3;
    background: pink;
}

