body{
    display: grid;
    grid-template-areas:  'nav'
                          'header'
                          'section1'
                          'section2'
                          'section3'
                          'footer';
    grid-template-rows: 2vh 70vh 30vh 40vh 50vh 10vh;
    grid-template-columns: 100vw;
    margin: 0;
}

header span {
    color:  #2DCC70;
}



div .div2{
    background-image: url("../images/hand.png");
    margin-left: 60px;
}

.video{
    /* display: block; */
    grid-area: section2;
    
}

nav{
    grid-area: nav;
    background: #2DCC70;
}
header{
    /* align-items: center; */
    background-image: url("../images/banner.png");
    color: white;
    display: flex;
    flex-direction: column;
    background-position: cover;
    font-family: 'Pacifico', cursive;
    grid-area: header;
    justify-content: center;
    text-align: center;
}

section .section1{
    grid-area: section1;
    background: gray;
}

.section2{
    background-color: #E3E4E4;
    grid-area: section2;
    
    
}
.getnotified{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 50%;
    grid-area: section2;
}

section .section3{
    grid-area: section3;
    background: pink;
}

